<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  dir="ltr" lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>	  ISO	</title>
        <link rel="stylesheet" id="admin-bar-css" href="css/admin-bar.css" type="text/css" media="all" />
        <link rel="stylesheet" id="admin-bar-css" href="css/style.css" type="text/css" media="all" />
        <style type="text/css" media="screen">
            html { margin-top: 28px !important; }
            * html body { margin-top: 28px !important; }
        </style>
    </head>
    <body>
        <div id="nav">
            <div id="menus">
                <ul>
                    <li  class="current_page_item">
                        <a href="#">Home</a>
                    </li>
                    <li >
                        <a href="page.html">Page</a>
                    </li>
                </ul>
            </div>
            <div id="search">
                <form id="searchform" method="get" >
                    <input value="Procurar" size="35" maxlength="50" name="s" id="s" type="text" />
                    <input id="searchsubmit" value="SEARCH" type="submit" />
                </form>	
            </div>
        </div>
        <div id="wrapper">
            <div id="header">		
                <h1><a href="#">ISO</a></h1>
                <h2>Just another WordPress site</h2>
                <div class="clear"></div>
            </div>
            <div id="content">
                <div class="post-2 page type-page status-publish hentry post post-page" id="post-2"><!-- post div -->

                    <h2 class="title">Sample Page</h2>
                    <div class="post-info-top">
                        <span id="addcomment"><a href="#respond" rel="nofollow" title="Leave a comment ?">Leave a comment</a> (0)</span>
                        <span id="gotocomments"><a href="#comments" rel="nofollow" title="Go to comments ?">Go to comments</a></span>
                    </div>
                    <div class="clear"></div>
                    <div class="entry">
                        <p>This is an example page. It’s different from a blog post because 
                            it will stay in one place and will show up in your site navigation (in 
                            most themes). Most people start with an About page that introduces them 
                            to potential site visitors. It might say something like this:</p>
                        <blockquote><p>Hi there! I’m a bike messenger by day, aspiring actor by 
                                night, and this is my blog. I live in Los Angeles, have a great dog 
                                named Jack, and I like piña coladas. (And gettin’ caught in the rain.)</p></blockquote>
                        <p>…or something like this:</p>
                        <blockquote><p>The XYZ Doohickey Company was founded in 1971, and has 
                                been providing quality doohickies to the public ever since. Located in 
                                Gotham City, XYZ employs over 2,000 people and does all kinds of awesome
                                things for the Gotham community.</p></blockquote>
                    </div><!-- END entry -->

                </div><!-- END post -->	

            </div><!--content-->

            <div id="sidebar-border">
                <div id="rss_border">
                    <div class="rss_border">
                        <div id="rss_wrap">
                            <div class="rss_wrap">
                                RSS Feed
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sidebar">

                    <div class="widget widget_categories">		
                        <h3 class="widgettitle">Recent Posts</h3>		
                        <ul>
                            <li>Hello world!</li>
                        </ul>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widgettitle">Categories</h3>		
                        <ul>
                            <li>
                                Uncategorized
                            </li>
                        </ul>
                    </div>

                </div><!-- end: #sidebar -->
            </div><!-- end: #sidebar-border -->

        </div><!--wrapper-->


        <div class="clear"></div>

        <div id="footer">
            <div id="footer-inside">
                <p>
                    Copyright © 2012 ISO			| Theme <a href="http://zww.me/" title="designed by zwwooooo">zBench</a>
                    | Powered by <a href="http://wordpress.org/">WordPress</a> 
                </p>
                <span id="back-to-top">↑ <a href="#" rel="nofollow" title="Back to top">Top</a></span>
            </div>
        </div><!--footer-->

        <div id="wpadminbar"  role="navigation">
            <div class="quicklinks">
                <ul  class="ab-top-menu">
                    <li>
                        <a class="ab-item">ISO</a>
                    </li>
                    <li>
                        <a class="ab-item">
                            menu
                        </a>		
                    </li>
                </ul>			
            </div>
        </div>
        
    </body>
</html>
