<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  dir="ltr" lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>	  ISO	</title>
        <link rel="stylesheet" id="admin-bar-css" href="css/admin-bar.css" type="text/css" media="all" />
        <link rel="stylesheet" id="admin-bar-css" href="css/style.css" type="text/css" media="all" />
        <style type="text/css" media="screen">
            html { margin-top: 28px !important; }
            * html body { margin-top: 28px !important; }
        </style>
    </head>
    <body>
        
        <div id="wpadminbar"  role="navigation">
            <div class="quicklinks">
                <ul  class="ab-top-menu">
                    <li>
                        <a class="ab-item">ISO</a>
                    </li>
                    <li>
                        <a class="ab-item">
                            menu
                        </a>		
                    </li>
                </ul>			
            </div>
        </div>
        
        
        <div id="nav">
            <div id="menus">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="current_page_item">
                        <a href="#">Sample Page</a>
                    </li>
                </ul>
            </div>
            <div id="search">
                <form id="searchform" method="get" >
                    <input value="Procurar" size="35" maxlength="50" name="s" id="s" type="text" />
                    <input id="searchsubmit" value="SEARCH" type="submit" />
                </form>	
            </div>
        </div>
        <div id="wrapper">
            <div id="header">		
                <h1><a href="#">ISO</a></h1>
                <h2>Just another WordPress site</h2>
                <div class="clear"></div>
            </div>
            <div id="content">
                <div class="post-2 page type-page status-publish hentry post post-page" id="post-2"><!-- post div -->

                    <h2 class="title">Sample Page</h2>
                    <div class="post-info-top">
                        <span id="addcomment"><a href="#respond" rel="nofollow" title="Leave a comment ?">Leave a comment</a> (0)</span>
                        <span id="gotocomments"><a href="#comments" rel="nofollow" title="Go to comments ?">Go to comments</a></span>
                    </div>
                    <div class="clear"></div>
                    <div class="entry">
                        <blockquote>
                            <p>Hi there! I’m a bike messenger by day, aspiring actor by 
                                night, and this is my blog. I live in Los Angeles, have a great dog 
                                named Jack, and I like piña coladas. (And gettin’ caught in the rain.)
                            </p>
                        </blockquote>
                        <p class="p">…or something like this:</p>
                        <blockquote>
                            <p>The XYZ Doohickey Company was founded in 1971, and has 
                                been providing quality doohickies to the public ever since. Located in 
                                Gotham City, XYZ employs over 2,000 people and does all kinds of awesome
                                things for the Gotham community.
                            </p>
                        </blockquote>
                         <p class="p">…or something like this:</p>
                    </div><!-- END entry -->

                </div><!-- END post -->	

            </div><!--content-->

            <div id="sidebar-border">
                <div id="rss_border">
                    <div class="rss_border">
                        <div id="rss_wrap">
                            <div class="rss_wrap">
                                RSS Feed
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sidebar">

                    <div class="widget widget_categories">		
                        <h3 class="widgettitle">Capítulos</h3>		
                        <ul>
                            <li>
                                <a href="http://www.bibliaonline.com.br/acf/gn/1" class="selected">1</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/2">2</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/3">3</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/4">4</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/5">5</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/6">6</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/7">7</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/8">8</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/9">9</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/10">10</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/11">11</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/12">12</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/13">13</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/14">14</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/15">15</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/16">16</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/17">17</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/18">18</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/19">19</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/20">20</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/21">21</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/22">22</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/23">23</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/24">24</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/25">25</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/26">26</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/27">27</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/28">28</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/29">29</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/30">30</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/31">31</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/32">32</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/33">33</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/34">34</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/35">35</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/36">36</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/37">37</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/38">38</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/39">39</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/40">40</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/41">41</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/42">42</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/43">43</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/44">44</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/45">45</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/46">46</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/47">47</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/48">48</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/49">49</a>
                                <a href="http://www.bibliaonline.com.br/acf/gn/50">50</a>                                
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_categories">
                        <h3 class="widgettitle">Bíblias</h3>		
                        <ul>
                            <li>
                                <select name="bible" id="b1">
                                <optgroup label="Inglês">
                                <option value="asv">American Standard Version</option>
                                <option value="bbe">Basic English</option>
                                <option value="dby">Darby, John Nelson</option>
                                <option value="kjv">King James</option>
                                <option value="niv">New International Version</option>
                                <option value="web">Webster</option>
                                </optgroup>
                                <optgroup label="Português">
                                <option value="acf" selected="">Almeida Corrigida e Revisada Fiel</option>
                                <option value="aa">Almeida Revisada Imprensa Bíblica</option>
                                <option value="nvi">Nova Versão Internacional</option>
                                <option value="tb">Sociedade Bíblica Britânica</option>
                                <option value="vc">Versão Católica</option>
                                </optgroup>
                                </select>
                            </li>
                        </ul>
                    </div>

                </div><!-- end: #sidebar -->
            </div><!-- end: #sidebar-border -->

        </div><!--wrapper-->


        <div class="clear"></div>

        <div id="footer">
            <div id="footer-inside">
                <p>
                    Copyright © 2012 ISO | Theme 
                    <a href="http://zww.me/" title="designed by zwwooooo">zBench</a> | Powered by 
                    <a href="http://wordpress.org/">WordPress</a> 
                </p>
                <span id="back-to-top">↑ <a href="#" rel="nofollow" title="Back to top">Topo</a></span>
            </div>
        </div><!--footer-->


        
    </body>
</html>
